<h1>プロフィール編集</h1>

<%= render "form" %>

<hr>
<div class="mb-5">
  <%= link_to icon_with_text("trash", "プロフィールを削除する"), post_profile_path(@profile.post_id, @profile.id), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>
</div>
